<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Document</title>
    </head>
    <body>
        <h1>Ajax</h1>

        <table id="result" border="1"></table>
        <script>
            var api = 'http://localhost:3000/books'
            var xhr = new XMLHttpRequest()
            xhr.open('GET', api)
            xhr.send()

            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText)
                    var result = `<tr>
                            <td>ID</td>
                            <td>NAME</td>
                        </tr>`
                    for (var i = 0; i < json.items.length; i++) {
                        result += `<tr>
                                <td>${json.items[i]._id}</td>
                                <td>${json.items[i].name}</td>
                            </tr>`
                    }
                }

                document.getElementById('result').innerHTML = result
            }
        </script>
    </body>
</html>